*

# Although the above '*' rule will ignore everything, files or directories that
#   should never be tracked are explictly listed here for documentation
.zsh/history
.zsh/.zcompdump
.zsh/.zcompcache
.zsh/local-env.zsh
.ssh/config/cm_socket
