[user]
    name = Gopal Patel
    email = nixme@stillhope.com

[alias]
    st = status
    ci = commit
    co = checkout
    wc = whatchanged
    f  = fetch
    m  = merge
    r  = rebase
    unstage = reset HEAD --

[color]
    ui = auto
    pager = true

[url "git@github.com:nixme/"]
    insteadOf = github:

[core]
    excludesfile = ~/.gitignore_global

[branch]
    autosetuprebase = always

[diff]
    renames = copies                    # identify renames and copies
    mnemonicprefix = true               # use better symbols than A and B

[push]
    default = tracking                  # push current branch only
