[user]
    name = Gopal Patel
    email = nixme@stillhope.com

[alias]
    st = status
    ci = commit
    co = checkout
    wc = whatchanged
    f  = fetch
    m  = merge
    r  = rebase
    sm = submodule
    smu = submodule update --init --recursive
    unstage = reset HEAD --
    where = name-rev                    # Which release contains a commit?
    contains = branch -a --contains     # Which branch contains a commit?
    compare = cherry -v                 # Which commits aren't upstream?
    loglines = log --pretty=format:'%Cred%h%Creset %s %Cblue(%an - %cr)%Creset%Cgreen%d%Creset'

[color]
    ui = auto
    pager = true

[url "git@github.com:nixme/"]
    insteadOf = github:

[core]
    excludesfile = ~/.gitignore_global

[status]
    relativePaths = false               # Show paths relative to repo root

[branch]
    autosetuprebase = always

[diff]
    renames = copies                    # identify renames and copies
    mnemonicprefix = true               # use better symbols than A and B

[push]
    default = tracking                  # push current branch only

[github]
    user = nixme
