[user]
    name = Gopal Patel
    email = nixme@stillhope.com

[alias]
    st = status
    ci = commit
    co = checkout
    wc = whatchanged
    unstage = reset HEAD --

[color]
    ui = auto
    pager = true

[url "git@github.com:nixme/"]
    insteadOf = github:

[core]
    excludesfile = /Users/nixme/.gitignore_global

[branch]
    autosetuprebase = always
